/*PESEK PRZEWIJANIA*/

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: none;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: black;
}


body {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0;
}

.wrapper {
    width: 100%;
}

/*GŁÓWNE TŁO*/

.header {
    background-image: url(zdjecia/tlo1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 700px;
    text-align: center;
}

.gradient {
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(57, 237, 57, 0) 50%);
    width: 100%;
    min-height: 700px;
}

#logo {
    padding: 180px;
}

h1,
h2 {
    /*    font-family: 'Raleway', sans-serif;*/
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 4px;
    padding: 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 100;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

.down {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down img {
    width: 15%;
    height: 15%;
    transition: 0.2s;
}

.down img:hover {
    width: 17%;
    height: 17%;
    cursor: pointer;
}

/*NAWIGACJA*/

.nav {
    width: 100%;
    padding: 15px 0;
    background-color: #f7fbff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    height: 30px;
    opacity: 0.9;
    box-shadow: 0px 2px 28px -6px rgba(0, 0, 0, 0.75);
}

.nav:hover {
    opacity: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /*    indeks do waznosci(bedzie na gorze)*/
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 150%;
    display: inline-block;
    /* bedzie wysrodkowane- konkurencja float:left (przywróciło działanie linijki w .nav : text-align:center;) */
}

ol a {
    color: #000000;
    text-decoration: none;
    display: block;
    /*dzieki temu mozemy dac szerokosc i wysokosc linkowi*/
}

ol > li {
    float: left;
    width: 150px;
    border-right: 1px dotted black;
}

ol > li:first-child {
    border-left: 1px dotted black;
}

ol > li:hover > a {
    font-size: 20px;
}

ol > li > ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul > li {
    line-height: 200%;
}

ol > li:hover > ul {
    display: block;
}


ol > li > ul > li {
    background-color: #dddddd;
    border-top: 1px dotted black;
    z-index: 100;
    position: relative;
}

ol li ul li a:hover {
    background-color: #c34f69;
}

ol li ul li:hover a {
    color: black;
}

/*CZĘŚĆ O MNIE*/

#o_mnie {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 700px;
    overflow: hidden;
}

article > p {
    float: left;
    text-align: justify;
    width: 70%;
    padding: 40px;
    margin: 0;
    box-sizing: border-box;
}

article {
    box-sizing: border-box;
}

article h1 {
    color: black;
    margin-top: 100px;
}

#photo-face {
    box-sizing: border-box;
    padding: 20px;
    height: auto;
    width: 30%;
    float: left;
    border-radius: 50%;
}

/*    umiejetnosci*/

#umiejetnosci {
    width: 100%;
    margin: 0 auto;
    font-size: 10px;
    padding: 0;
    overflow: hidden;
}

.parallax {
    height: 400px;
    background: transparent;
}

.skills {
    float: left;
    padding: 0;
    margin: 60px 5%;
    width: 40%;
    height: 200px;
    opacity: 0.7;
    text-align: center;
}

.skills1 {
    clear: both;
    padding: 0;
    margin: 60px auto;
    height: 200px;
    opacity: 0.7;
    text-align: center;
}

.skills img,
.skills1 img {
    width: 200px;
    height: auto;
}

/*KONTAKT*/

#kontakt {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 700px;
    background-color: #ebeef0;
    overflow: hidden;
    box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.75);
}

#map {
    margin-top: 20px;
    margin: auto;
}

/*SOCIAL MEDIA*/

.socials {
    width: 100%;
    text-align: center;
}

.socialdivs {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a.linkhtml5 {
    color: #111111;
    text-decoration: none;
}

.fb {
    float: left;
    width: 33%;
    height: 155px;
    transition: 0.5s;
}

.fb:hover {
    color: #3B5998;
}

.git {
    float: left;
    width: 33%;
    height: 155px;
    transition: 0.5s;
}

.git:hover {
    color: #000000;
}

.linked {
    float: left;
    width: 33%;
    height: 155px;
    transition: 0.5s;
}

.linked:hover {
    color: #0077B5;
}


/*STOPKA*/

.footer {
    text-align: center;
    background-color: #d2d5db;
    padding: 20px;
    font-size: 15px;
}

/*PRZYKLEJONY SCROLL: ;*/

.scrollup {
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("img/up2.png") no-repeat 0px 0px;
    position: fixed;
    right: 30px;
    bottom: 40px;
    display: none;
    z-index: 100;
}


/*RESPONSIVE*/

@media (max-width:1000px) {
    .fb {
        width: 100%;
    }
    .li {
        width: 100%;
    }
    .git {
        width: 100%;
    }
    .logowanie {
        width: 100%;
    }
    nav ol {
        display: block;
        text-align: center;
    }
}



/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    background-color: #b0cac8;
    position: relative;
    overflow: hidden;
    height: 600px;
    text-align: center;
}

/*wyslij wiadomosc*/

#contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    padding: 30px;
    border-right:2px solid black;

}

input[type=email],
input[type=text] {
    width: 220px;
    border: 1px solid #000000;
    color: #666;
    border-radius: 3px;
    background-color: #efefef;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    /*obramowanie inputa*/
    margin: 10px 5px;
}

input[name=tytul] {
    width: 450px;
}

input[type=email]:focus,
input[type=text]:focus {
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

input[type=submit] {
    width: 200px;
    background-color: #a36787;
    font-size: 15px;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    color: white;
    letter-spacing: 2px;
}

input[type=submit]:hover {
    background-color: #c46898;
    box-shadow: 0 0 0 1px #c46898, 0 0 16px 3px rgba(0, 0, 0, 0.75);
}

textarea {
    padding: 10px 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    width: 430px;
    margin-top: 10px;
}



.naglowek {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
}

.underline {
    width: 30px;
    margin: 4px auto auto;
    border-bottom: 2px solid;
    display: block;
}

#horizontal
{
    height: 200px;
/*    display:block;*/
    float:left;
    border:2px solid black;
    position: absolute;
}

/*
.logowanie {
    width: 70%;
    height: 400px;
    background-color: #38ad96;
    text-align: center;
    margin: auto auto;
    padding: 50px;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 222px 27px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: inset 0px 0px 222px 27px rgba(0, 0, 0, 0.99);
    box-shadow: inset 0px 0px 222px 27px rgba(0, 0, 0, 0.99);
}
*/

/*
.btn {
    margin-top: 50px;
    padding: 15px 20px;
    border-style: none;
    background-color: yellow;
    border-radius: 20px;
    box-shadow: 0 0 0 3px black, 0 0 0 6px yellow;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 0 5px black, 0 0 0 10px yellow;
    border-radius: 30px;
}
*/

/*
.content iframe {
    float: left;
    width: 60%;
}

*/

/*
#square {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 400px;
    border: 3px solid black;
    font-size: 0;
}

#square div {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: black;
}

#square div:nth-child(2n+1) {
    background-color: white;
}
*/

/*overflow:hidden;  element bedzie mial taka wysokosc jak jego dzieci*/

/*
.bgrnd {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(45deg, white, black 80%);
}
*/

/*
.content {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}

*/

/*
.parallax{
    background: url('1679.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 1500px;
}
*/

/*
.parallax div{
    z-index:1;
    position: relative;
    margin:0;
}
*/

/*

#suwaki
{
    padding: 0;
    margin: 0;
}

section
{
    position: relative;
    height: 100vh;
    font-size: 60px;
}

.s1
{
    background-color: darkcyan;
}
.s2
{
    background-color: royalblue;
}

section div
{
    position:absolute;
    width: 30px;
    height: 30px;
    border:5px solid white;
    top:30px;
    right: 30px;
    border-radius: 50%;
}

.s1 h1
{
    position: absolute;
    top:40%;
    left:-150%;
   transition: 1s ease;
}

.s1 div:hover+h1
{
    position: absolute;
    top:40%;
    left:10%;
}

*/
